@import "drr-variables";
@import "drr-mixins";

// Body reset
// -------------------------
body {
  margin: 0;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $textColor;
  background-color: $bodyBackground;
}

// Links
// -------------------------
a {
  color:$linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $linkColorHover;
  text-decoration: underline;
}

// Body text
// -------------------------
p {
  margin: 0 0 $baseLineHeight / 2;
}

// Headings
// -------------------------

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: ($baseLineHeight / 2) 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  line-height: $baseLineHeight;
  color: $headingsColor;
  text-transform: $headingsTransform;
  small {
    font-weight: normal;
    line-height: 1;
  }
}
h1,
h2,
h3 { line-height: $baseLineHeight * 2; }
h1 { font-size: $baseFontSize * 2.75; } // ~38px
h2 { font-size: $baseFontSize * 2.25; } // ~32px
h3 { font-size: $baseFontSize * 1.75; } // ~24px
h4 { font-size: $baseFontSize * 1.25; } // ~18px
h5 { font-size: $baseFontSize; }
h6 { font-size: $baseFontSize * 0.85; } // ~12px
h1 small { font-size: $baseFontSize * 1.75; } // ~24px
h2 small { font-size: $baseFontSize * 1.25; } // ~18px
h3 small { font-size: $baseFontSize; }
h4 small { font-size: $baseFontSize; }

// Fonts
// -------------------------
@font-face {
  font-family: 'Lato Regular';
  src: url('#{$fontPath}lato-reg-webfont.eot');
  src: url('#{$fontPath}lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fontPath}lato-reg-webfont.woff') format('woff'),
       url('#{$fontPath}lato-reg-webfont.ttf') format('truetype'),
       url('#{$fontPath}lato-reg-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('#{$fontPath}lato-bol-webfont.eot');
  src: url('#{$fontPath}lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fontPath}lato-bol-webfont.woff') format('woff'),
       url('#{$fontPath}lato-bol-webfont.ttf') format('truetype'),
       url('#{$fontPath}lato-bol-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url('#{$fontPath}lato-regita-webfont.eot');
  src: url('#{$fontPath}lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fontPath}lato-regita-webfont.woff') format('woff'),
       url('#{$fontPath}lato-regita-webfont.ttf') format('truetype'),
       url('#{$fontPath}lato-regita-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Black';
  src: url('#{$fontPath}lato-bla-webfont.eot');
  src: url('#{$fontPath}lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fontPath}lato-bla-webfont.woff') format('woff'),
       url('#{$fontPath}lato-bla-webfont.ttf') format('truetype'),
       url('#{$fontPath}lato-bla-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url('#{$fontPath}lato-lig-webfont.eot');
  src: url('#{$fontPath}lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fontPath}lato-lig-webfont.woff') format('woff'),
       url('#{$fontPath}lato-lig-webfont.ttf') format('truetype'),
       url('#{$fontPath}lato-lig-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}