// Config
// -------------------------
$fontPath:              "/font/";
$imgPath:               "/img/";

// Grays
// -------------------------
$black:                 #000;
$grayDarkest:           #161514;
$grayDarker:            #3F3A34;
$grayDark:              #514E49;
$gray:                  #71695D;
$grayLight:             #908B85;
$grayLighter:           #D0CDC8;
$grayLightest:          #E8E4E2;
$white:                 #fff;

// Accent colors
// -------------------------
$blue:                  #0171A1;
$blueDark:              #004963;
$green:                 #989546;
$red:                   #AF2228;
$yellow:                #FFB92D;
$orange:                #D75B25;
$pink:                  #F356A7;
$purple:                #953064;

// Scaffolding
// -------------------------
$bodyBackground:        $white;
$textColor:             $grayDarker;

// Typography
// -------------------------
$mainFontFamily:        "Lato Regular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$heavyFontFamily:       "Lato Black", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$lightFontFamily:       "Lato Light", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$baseFontSize:          14px;
$baseFontFamily:        $mainFontFamily;
$baseLineHeight:        20px;
$basePadding:           4px 12px;
$headingsFontFamily:    $heavyFontFamily;
$headingsFontWeight:    bold;
$headingsColor:         inherit;
$headingsTransform:     uppercase;

// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px
$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0 6px;   // 22px

// Links
// -------------------------
$linkColor:             $blue;
$linkColorHover:        darken($linkColor, 15%);

// Component colors
// -------------------------
$componentTextColor:                      $textColor;
$componentTextColorHighlight:             lighten($componentTextColor, 10%);

$componentInverseTextColor:               $grayLightest;
$componentInverseTextColorHighlight:      lighten($componentInverseTextColor, 10%);

$componentBackground:                     $grayLightest;
$componentBackgroundHighlight:            darken($grayLightest, 10%);

$componentPrimaryBackground:              $blue;
$componentPrimaryBackgroundHighlight:     lighten($componentPrimaryBackground, 10%);

$componentInfoBackground:                 adjust-hue($blue, 10);
$componentInfoBackgroundHighlight:        lighten($componentInfoBackground, 10%);

$componentSuccessBackground:              $green;
$componentSuccessBackgroundHighlight:     lighten($componentSuccessBackground, 10%);

$componentWarningBackground:              $orange;
$componentWarningBackgroundHighlight:     lighten($componentWarningBackground, 10%);

$componentDangerBackground:               $red;
$componentDangerBackgroundHighlight:      lighten($componentDangerBackground, 10%);

$componentInverseBackground:              $grayDarker;
$componentInverseBackgroundHighlight:     lighten($componentInverseBackground, 10%);

