<!-- Typography
================================================== -->
<div class="container">
  <h1>Header 1 <small>Subtext</small></h1>
  <h2>Header 2 <small>Subtext</small></h2>
  <h3>Header 3 <small>Subtext</small></h3>
  <h4>Header 4 <small>Subtext</small></h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>
  <p>
    Paragraph text <a href="#">and a link</a>. 
    And maybe something <strong>bold</strong> or <em>italic</em>, 
    or perhaps <small>very small</small>.
  </p>       
</div>

<!-- Buttons
================================================== -->
<div class="container">
  <h1>Buttons</h1>
  <p>
    <a class="btn">Standard Button</a>
    <a class="btn btn-primary">Primary Button</a>
    <a class="btn btn-info">Info Button</a>
    <a class="btn btn-success">Success Button</a>
    <a class="btn btn-warning">Warning Button</a>
    <a class="btn btn-danger">Danger Button</a>
    <a class="btn btn-inverse">Inverse Button</a>
  </p> 
  <p>
    <a class="btn btn-mini">Mini Button</a>
    <a class="btn btn-small">Small Button</a>
    <a class="btn">Medium Button</a>
    <a class="btn btn-large">Large Button</a>
  </p>       
</div>


